.add-new-task {
    width: fit-content;
    font-size: 32px;
    padding: 10px;
    cursor: pointer;
}

.task-count {
    margin-right: auto;
}

.btn-save {
    background-color: rgb(19, 87, 19);
    border-radius: 3px;
    padding: 7px 24px 7px 24px;
    border: none;
    color: white;
    cursor: pointer;
}

.add-btn {
    margin-left: 0px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    font-size: 22px;
    border-left: solid 0.1px rgb(212, 212, 212);
}

.add-btn:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

.task-bar {
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
}

.side-bar {
    background-color: rgb(20, 40, 58);
    width: 350px;
    height: 625px;
}

.main {
    margin-top: 100px;
}

.task-bar-container {
    padding: 8px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-cancel {
    background: none;
    border-radius: 3px;
    padding: 7px 24px 7px 24px;
    border: none;
    color: grey;
    margin-right: 12px;
    cursor: pointer;
}

.btn-cancel:hover {
    background: white;
}

.btn-save:hover {
    background: rgb(23, 121, 23);
}