.task-title {
    padding: 18px;
    background-color: white;
    width: 316px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.task-bar {
    border: 0.1px rgb(201, 200, 200) solid;
    height: 50px;
}

.del-task-btn {
    cursor: pointer;
    height: 25px;
}

.edit-task-btn {
    cursor: pointer;
    color: rgb(221, 111, 111);
}

.box-container {
    margin-top: 2px;
    margin-left: 4px;
    /* padding: 4px; */
    border: solid 1px rgb(230, 230, 230);
    width: fit-content;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}